aeidon==1.10.1
alabaster==0.7.12
anyio==3.6.2
appdirs==1.4.4
apt-xapian-index==0.49
argcomplete==3.2.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
astroid==2.9.3
asttokens==2.1.0
async-generator==1.10
attrs==23.1.0
Automat==20.2.0
b2==3.17.0
b2sdk==1.33.0
Babel==2.11.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
black==24.3.0
bleach==6.0.0
blinker==1.4
borgbackup==1.2.5
build==0.10.0
CacheControl==0.12.10
cclib==1.6.2
certifi==2024.2.2
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
constantly==15.1.0
contourpy==1.0.6
crit==0.0.1
cryptography==42.0.5
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
docformatter==1.6.1
docutils==0.19
dulwich==0.20.31
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
fastimport==0.9.14
fastjsonschema==2.16.2
flake8==6.0.0
fonttools==4.43.0
fuse-python==1.0.2
ghp-import==2.1.0
git-cola==3.12.0
gpg==1.16.0
greenlet==1.1.2
griffe==0.27.1
gyp==0.1
hg-git==0.10.4
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.4
imagesize==1.3.0
importlib-metadata==6.5.1
incremental==21.3.0
iniconfig==2.0.0
iniparse==0.4
install==1.3.5
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
isort==5.10.1
jaraco.classes==3.2.3
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.3
json5==0.9.10
jsonschema==4.17.0
jupyter-server==2.11.2
jupyter_client==7.4.6
jupyter_core==5.0.0
jupyterlab==3.6.7
jupyterlab-code-formatter==1.5.3
jupyterlab-pygments==0.2.2
jupyterlab-spellchecker==0.7.2
jupyterlab_server==2.16.3
keyring==23.13.1
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==0.0.0
libvirt-python==8.0.0
LinkChecker==10.4.0
llfuse==1.3.8
logfury==1.0.1
logilab-common==1.8.2
lxml==4.9.1
Mako==1.2.4
Markdown==3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
meld==3.20.4
mercurial==6.1.1
mergedeep==1.3.4
mistune==2.0.4
mkdocs==1.5.3
mkdocs-autorefs==0.4.1
mkdocs-glightbox==0.3.3
mkdocs-material==9.1.7
mkdocs-material-extensions==1.3.1
mkdocs_puml==1.2.4
mkdocstrings==0.21.2
mkdocstrings-python==0.9.0
mock==4.0.3
more-itertools==9.1.0
msgpack==1.0.3
mypy==1.2.0
mypy-extensions==1.0.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
netifaces==0.11.0
nh3==0.2.15
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.22.0
oauthlib==3.2.2
olefile==0.46
openpyxl==3.0.10
outcome==1.1.0
packaging==23.1
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.1
patsy==0.5.3
pbr==5.8.0
pexpect==4.8.0
phply==1.2.5
phx-class-registry==4.1.0
pickleshare==0.7.5
Pillow==10.2.0
pkginfo==1.9.6
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
prettytable==2.5.0
prometheus-client==0.15.0
prompt-toolkit==3.0.32
protobuf==3.18.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycodestyle==2.10.0
pycountry==20.7.3
pycparser==2.21
pycups==2.0.1
pyenchant==3.2.0
pyflakes==3.0.1
pyfuse3==3.2.0
Pygments==2.15.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.4.0
pylibacl==0.6.0
pylint==2.12.2
pymdown-extensions==10.7.1
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyrsistent==0.19.2
pyserial==3.5
pytest==8.1.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-Levenshtein==0.12.2
python-magic==0.4.24
python-xlib==0.29
pytz==2022.1
pyudev==0.22.0
pywin32-ctypes==0.2.0
pyxattr==0.7.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==24.0.1
QScintilla==2.11.6
QtPy==2.0.0
readme_renderer==43.0
regex==2023.3.23
reportlab==3.6.13
requests==2.31.0
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.3.4
roman==3.3
rst2ansi==0.1.5
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
ruff==0.3.4
scipy==1.11.1
scour==0.38.2
SecretStorage==3.3.3
Send2Trash==1.8.0
service-identity==18.1.0
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
sos==4.5.6
soupsieve==2.4.1
Sphinx==4.3.2
ssh-import-id==5.11
stack-data==0.6.1
statsmodels==0.13.5
systemd-python==234
tabulate==0.9.0
terminado==0.17.0
thonny==3.3.14
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tortoisehg==6.1.1
tqdm==4.66.2
traitlets==5.5.0
translate-toolkit==3.6.0
trio==0.19.0
twine==4.0.2
Twisted==23.10.0
typed-ast==1.4.3
types-aiofiles==0.1
types-annoy==1.17
types-appdirs==1.4
types-atomicwrites==1.4
types-aws-xray-sdk==2.8
types-babel==2.9
types-backports-abc==0.5
types-backports.ssl-match-hostname==3.7
types-beautifulsoup4==4.10
types-bleach==4.1
types-boto==2.49
types-braintree==4.11
types-cachetools==4.2
types-caldav==0.8
types-certifi==2020.4
types-characteristic==14.3
types-chardet==4.0
types-click==7.1
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-contextvars==0.1
types-croniter==1.0
types-cryptography==3.3
types-dataclasses==0.1
types-dateparser==1.0
types-DateTimeRange==0.1
types-decorator==0.1
types-Deprecated==1.2
types-docopt==0.6
types-docutils==0.17
types-editdistance==0.5
types-emoji==1.2
types-entrypoints==0.3
types-enum34==1.1
types-filelock==3.2
types-first==2.0
types-Flask==1.1
types-freezegun==1.1
types-frozendict==0.1
types-futures==3.3
types-html5lib==1.1
types-httplib2==0.19
types-humanfriendly==9.2
types-ipaddress==1.0
types-itsdangerous==1.1
types-JACK-Client==0.1
types-Jinja2==2.11
types-jmespath==0.10
types-jsonschema==3.2
types-Markdown==3.3
types-MarkupSafe==1.1
types-mock==4.0
types-mypy-extensions==0.4
types-mysqlclient==2.0
types-oauthlib==3.1
types-orjson==3.6
types-paramiko==2.7
types-Pillow==8.3
types-polib==1.1
types-prettytable==2.1
types-protobuf==3.17
types-psutil==5.8
types-psycopg2==2.9
types-pyaudio==0.2
types-pycurl==0.1
types-pyfarmhash==0.2
types-Pygments==2.9
types-PyMySQL==1.0
types-pyOpenSSL==20.0
types-pyRFC3339==0.1
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-nmap==0.6
types-python-slugify==5.0
types-pytz==2021.1
types-pyvmomi==7.0
types-PyYAML==5.4
types-redis==3.5
types-requests==2.25
types-retry==0.9
types-selenium==3.141
types-Send2Trash==1.8
types-setuptools==57.4
types-simplejson==3.17
types-singledispatch==3.7
types-six==1.16
types-slumber==0.7
types-stripe==2.59
types-tabulate==0.8
types-termcolor==1.1
types-toml==0.10
types-toposort==1.6
types-ttkthemes==3.2
types-typed-ast==1.4
types-tzlocal==0.1
types-ujson==0.1
types-vobject==0.9
types-waitress==0.1
types-Werkzeug==1.0
types-xxhash==2.0
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
untokenize==0.1.1
urllib3==2.2.1
vobject==0.9.6.1
wadllib==1.3.6
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
wrapt==1.13.3
wxPython==4.0.7
xkit==0.0.0
zipp==3.15.0
zope.interface==5.4.0
